<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
     <title>Meu Site</title>
    <link rel="stylesheet" href="css/estilo.css" type="text/css">
</head>
<body>
    <h1 class="teste">Olá mundo</h1>

<a id="google" href="#">Google</a>

<p class="outro"> Hoje o dia está ruim </p>

<div class="teste">Div 1</div>
<div class="teste">Div 2</div>
<div class="teste">Div 3</div>
<div class="teste">Div 4 <a href="#">Yahoo</a>
</div>

<div class="outro">Div 5 <a href="#">Bing</a></div>
<div class="outro">Div 6 <a href="#">Bing</a></div>
<div class="outro">Div 7 <a href="#">Bing</a></div>
<div class="outro">
  <ul>
    <li><a href="#">Bing</a></li>
</ul>
</div>

</body>
</html>
